* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/OpenSans-Regular.ttf");
}
body {
  font-family: "Open Sans";
}
.todoInput {
  width: 50%;
  margin: 20px auto;
  padding: 15px;
}

.todoInput__title,
.todoList__title {
  text-align: center;
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 600;
  font-family: "Open Sans";
}

.todoInput__inputSection {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.todoInput__iconBox {
  background-color: rgb(22, 163, 183);
  width: 38px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px 0 0 4px;
}

.todoInput__icon {
  width: 20px;
}
.todoInput__inputMainBox {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  padding: 20px;
}
.todoInput__inputBox {
  flex: 1;
  height: 34px;
  padding-left: 10px;
  border: 1px solid #d4d4d4;
  border-radius: 0 4px 4px 0;
  font-size: 15px;
}

.todoInput__btn {
  width: 100%;
  height: 38px;
  background-color: rgb(22, 163, 183);
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.todoList {
  width: 50%;
  margin: 30px auto;
}

/* Filters */
.todoList__filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}

.todoList__filterBtn {
  padding: 10px 40px;
  background-color: rgb(22, 163, 183);
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  width: 30%;
}

/* List items */
.todoList__items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.todoList__item {
  background-color: white;
  padding: 12px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
}

/* Text styling */
.todoList__text {
  flex: 1;
  font-size: 16px;
}

.todoList__text--done {
  text-decoration: line-through;
  color: #d9534f;
}

/* Checkbox */
.todoList__checkbox {
  width: 20px;
  height: 20px;
  accent-color: #439951;
  margin-right: 12px;
  cursor: pointer;
}

/* Edit/Delete icons area */
.todoList__actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todoList__iconBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.todoList__iconBtn img {
  width: 18px;
}

/* Delete button */
.todoList__deleteBtn {
  border: none;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

.todoList__deleteBtn img {
  width: 18px;
}

/* Bottom buttons */
.todoList__bottomBtns {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.todoList__clearDone,
.todoList__clearAll {
  background-color: #da3544;
  padding: 12px 40px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 50%;
}
