* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open-Sans";
  src: url("./assets/fonts/OpenSans-Regular.ttf") format("truetype");
}
body {
  font-family: "Open-Sans";
}
.todoInputContainer {
  width: 80%;
  border: 2px solid red;
  margin: auto;
}
.todoInputContainer__title {
  font-size: 16px;
  text-align: center;
}
.todoInputContainer__inputSection {
  display: flex;
  justify-content: center;
}

input.todoInputContainer__inputBox {
  width: 90%;
  height: 31px;
}
.todoInputContainer__inputSection img {
  width: 31px;
  height: 24px;
  margin: 4px 2px;
}
span {
  height: 31px;
  background-color: rgb(22 163 183);
  width: 35px;
}
